header.masthead {
  position: relative;
  background-color: #343a40;
  background-image: url('../../img/header.jpg');
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.fa-social {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa-social:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-social-facebook {
    background: #3B5998;
    color: white;
}

.sw-theme-arrows .step-content {
    background-color: transparent;
}

.sw-theme-arrows > ul.step-anchor > li.active > a {
    border-color: #004085 !important;
    color: #fff !important;
    background: #004085 !important;
}
    .sw-theme-arrows > ul.step-anchor > li.active > a:after {
        border-left: 30px solid #004085 !important;
    }

.sw-theme-arrows > ul.step-anchor > li.done > a {
    border-color: #7894b3 !important;
    color: #fff !important;
    background: #7894b3 !important;
}

    .sw-theme-arrows > ul.step-anchor > li.done > a:after {
        border-left: 30px solid #7894b3;
    }

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(-90deg);
}